@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager

    @if (SignInManager.IsSignedIn(User))
    {
          <div class="header__welcome">
                <span class="welcomeMessage">Hi, @User.Identity.Name</span>
               <form asp-action="logout"  asp-controller="users" class="form-inline">
                    <button type="submit" class="button header__cta hide-for-mobile">
                      Logout
                    </button>
                </form>
          </div>

    }
    else
    {
            <a class="button header__cta hide-for-mobile" asp-controller="users" asp-action="Create">
                Register
            </a>
            <a class="button header__cta hide-for-mobile" asp-controller="users" asp-action="Login">
                Login
            </a>
    }
</ul>
