#sortable tr {
  cursor: move;
}

.container-totals {
    display:flex;
    justify-content:space-around;
    font-size: 1.625rem;
    text-align:center;
}

.active {
    color: blue;
}

.passive {
    color: red;
}

